.path-frontpage  .main-menu li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.path-frontpage  .main-menu li a{
    color: white;
    text-align: center;
    font-size: 20px;
    width: 310px;
    /*width: 25%;*/
    height: 170px;
    /*border: 1px solid #333333;*/
    padding: 100px 10px 0 10px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}
.path-frontpage  .main-menu li a:hover{
    background: #DE4D00;
}
#block-showcase-lite-main-menu .main-menu li{
    text-align: left;
}
.path-frontpage  .main-content .container{
    margin: 0;
    width: 100%;
}
.path-frontpage .main-content__section{
    padding: 30px 0 50px;
    background: #505050;
}
.path-frontpage .banner__container{
    display: none;
}
.path-frontpage  .lessons:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-training-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage  .plans:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-books-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage  .for-teachers:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-meditation-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage  .news:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-news-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .images:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-gallery-64.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .games:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-soccer-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .videos:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-video-playlist-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .poems:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/script.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .books:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-books-64.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .music:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-musical-notes-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .stories:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/teaching.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .handmate:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-cut-64.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}
.path-frontpage .plays:before{
    content: "";
    display: block;
    background: url("../../images/main-menu/icons8-theatre-mask-50.png") no-repeat center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 30px;
    left: 128px;
}